body {
  max-width: 960px;
  .wrapper {
    padding: 4%;
  }
}

header {
  display: flex;
  height: 270px;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 600px) {
    display: block;
    height: auto;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }
  .header_nav {
    ul {
      list-style: none;
      display: flex;
      @media screen and (max-width: 600px) {
        justify-content: center;
      }
      li {
        line-height: 64px; 
        font-size: 12px;
        padding-left: 10px;
        .icon {
          width: 14px;
          height: 14px;
          vertical-align: middle;
        }
      }
    }
  }
}

main {
  #mainvisual {
    img {
      width: 100%;
      max-width: 1920px;
      height: 420px;
      object-fit: cover;
    }
  }

  #about {
    h2 {
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      padding: 30px 0px;
    }
    ul {
      li {
        display: block;
      }
      li:nth-child(1) {
        padding-bottom: 20px;
      }
    }
    p {
      padding: 20px 0px;
    }
  }

  #works {
    h2 {
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      padding: 30px 0px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0 2rem;
      @media screen and (max-width: 600px) {
        display: block;
      }
      li {
        width:30%;
        height: auto;
        margin-bottom: 15px;
        @media screen and (max-width: 600px) {
          width:100%;
        }
        img {
          max-width: 100%;
        }
      }
    }
  }

  #news {
    h2 {
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      padding: 30px 0px;
    }

    dl {
      display: flex;
      flex-wrap: wrap;
      border-top: solid 1px #c8c8c8;
      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
      dt {
        width: 20%;
        border-bottom: solid 1px #c8c8c8;
        padding: 10px 0px;
        padding-left: 10px;
        font-weight: lighter;
        @media screen and (max-width: 600px) {
          width: 100%;
          border-bottom: none;
          padding-bottom: 0;
        }
      }
      dd {
        width: 80%;
        border-bottom: solid 1px #c8c8c8;
        padding: 10px 0px;
        padding-right: 10px;
        @media screen and (max-width: 600px) {
          width: 100%;
          padding-top: 0;
        }
      }

    }
  }

  #contact {
    h2 {
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      padding: 30px 0px;
    }
    dl {
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 600px) {
        display: block;
        flex-wrap: wrap;
      }
      dt {
        width: 20%;
        margin: 5px 0px;
        font-weight: lighter;
        @media screen and (max-width: 600px) {
          width: 100%;
        }
      }
      dd {
        width: 80%;
        margin: 5px 0px;
        border: solid 1px #c8c8c8;
        @media screen and (max-width: 600px) {
          width: 100%;
        }
        input {
          height: 40px;
        }
        textarea {
          height: 160px;
        }
      }
    }
    div {
      text-align: center;
      input {
        height: 55px;
        width: 200px;
        background-color: black;
        color: white;
        margin: 20px 0px 60px 0px;
      }
    }
  }
  footer {
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      color: white;
      font-size: 12px;
      height: 40px;

    }
  }
}

@media screen and  (max-width:600px){  
  
}

